<div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
  <div class="carousel-inner">
    <h2>MEET THE WINNERS!</h2>
    <hr class="seperator" />
    <div class="carousel-item active">
      <h6>Abubaker Wrote:</h6>
      <p>
        <i>"Excellent way to start the weekend, thank you for making me a Zillionaire!"</i>
      </p>
      <img src="./assets/profilePhotos/20150822_122451-mi5ubvueeupx36shw19cubmnunlkd1ahdalj5rvjcg.jpg" />
      <br />
      <p>
        ABUBAKER SAMPSON
      </p>
      <p>
        <i>
          <small>
            Congratulations Abubaker, Now you can enjoy a lovely meal with the Woolworths Food voucher you won. Every hour is happy hour if you are a Zillionaire!
          </small>
        </i>
      </p>
    </div>
    <div class="carousel-item">
      <h6>Michelle Wrote:</h6>
      <p>
        <i>"I am very happy, I can't believe I won!"</i>
      </p>
      <img src="./assets/profilePhotos/Picture-412-mi5tovql5t8ayq7d7lb1bmlki6z6zoyyjfurczzdm8.jpg" />
      <br />
      <p>
        MICHELLE VAN ROOYEN
      </p>
      <p>
        <i>
          <small>
            Congratulations Michelle, Now you can have all the fun in the world with the items you purchased with the voucher you won. Every hour is happy hour if you are a Zillionaire!
          </small>
        </i>
      </p>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
