<div class="alert alert-danger" *ngIf="errorMessage" role="alert">
  Please enter the correct email and password
</div>
<form #loginForm="ngForm">
  <div class="form-group">
    <label for="email">Email address</label>
    <input type="email" class="form-control" name="email" placeholder="Enter email" [(ngModel)]="email" required>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" name=password placeholder="Password" [(ngModel)]="password" required>
  </div>
  <div class="row">
    <div class="col-12">
      <button type="button" [disabled]="!loginForm.valid" class="btn btn-default btnCustom" *ngIf="!sending" (click)="login(loginForm)">LOGIN</button>
      <button type="button" class="btn btn-default btnCustom" *ngIf="sending">
        <div class="spinner" *ngIf="sending">
          <div class="double-bounce1"></div>
          <div class="double-bounce2"></div>
        </div>
      </button>
    </div>
  </div>
</form>
