<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" href="#">All Deals</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Clothing</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Food</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Beauty</a>
  </li>
  <li>
    <form class="form-inline my-2 my-lg-0">
      <span class="fa fa-search"></span>
      <input class="form-control mr-sm-2 search" type="search" placeholder="Search" aria-label="Search">
    </form>
  </li>
</ul>
