<!-- <img class="banner" src="../../assets/common/zillion-luxury-competitions-mb3wbtcv4kqcq9xnzd06ef0ew17cu2fd63une1d5fc.jpg" /> -->
<div class="row">
  <div [ngClass]="mobile ? 'col-12' : 'col-3'" class="category">
    <img class="categoryImage" src="./assets/common/vouchers-and-coupons.png" />
    <hr class="seperator" />
    <h2 class="categoryHeading">ZILLION COMPETITIONS</h2>
    <p>
      Stand a chance to win one of these amazing prizes for you and your friends!
    </p>
    <button class="btn btn-default buttonEnter" routerLink="/zillion-compotitions">View Deals</button>
  </div>
  <div [ngClass]="mobile ? 'col-12' : 'col-3'" class="categoryAlt">
    <img class="categoryImage" src="./assets/common/zillion-skills-based-competitions.png" />
    <hr class="seperator" />
    <h2 class="categoryHeading">SKILLS BASED COMPETITIONS</h2>
    <p>
      Use your skills and unlock your chances to winning amazing prizes!
    </p>
    <button class="btn btn-default buttonEnter" routerLink="/skilled-based-compotitions">View Deals</button>
  </div>
  <div [ngClass]="mobile ? 'col-12' : 'col-3'" class="category">
    <img class="categoryImage" src="./assets/common/zillion-survey-competitions.png" />
    <hr class="seperator" />
    <h2 class="categoryHeading">SURVEY BASED COMPETITIONS</h2>
    <p>
      Have your say and win big! All you need to do is enter and win!
    </p>
    <button class="btn btn-default buttonEnter" routerLink="/survey-based-compotitions">View Deals</button>
  </div>
  <div [ngClass]="mobile ? 'col-12' : 'col-3'" class="categoryAlt">
    <img class="categoryImage" src="./assets/common/free-online-competitions.png" />
    <hr class="seperator" />
    <h2 class="categoryHeading">FREE ONLINE COMPETITIONS</h2>
    <p>
      Enter competitions all around the web through our competitions portal!
    </p>
    <button class="btn btn-default buttonEnter" routerLink="/directory-compotitions-listings">View Deals</button>
  </div>
</div>
